<lpa-menu></lpa-menu>

<div class="content">

  <div class="titulo">
    <h1>Detalhes Usuário</h1>
  </div>

  <div class="mat-elevation-z8" >
    <form style="text-align: center;">
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="usuario.time.nome" [ngModelOptions]="{standalone: true}" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Time" [(ngModel)]="usuario.time.nomeTime" [ngModelOptions]="{standalone: true}" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Pontuação" value="817" disabled>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Montante Carteira" value="R$89" disabled>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ligas inscrito</mat-label>
        <select matNativeControl multiple disabled>
          <option value="amozonas">Amazonas</option>
          <option value="dwdwd">Amsterda</option>
          <option value="saaewfb">Swas</option>
          <option value="saab">Sebers</option>
          <option value="saab">Opela</option>
          <option value="saab">Ametulo</option>
          <option value="saab">Zerba</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ligas administrando</mat-label>
        <select matNativeControl multiple disabled>
          <option value="amozonas">Amazonas</option>
          <option value="dwdwd">Amsterda</option>
          <option value="saaewfb">Swas</option>
          <option value="saab">Sebers</option>
          <option value="saab">Opela</option>
          <option value="saab">Ametulo</option>
          <option value="saab">Zerba</option>
        </select>
      </mat-form-field>
    </form>
  </div>
</div>


<p>
  {{id}}
</p>
