<mat-card>

  <mat-card-title>LigaPay Admin</mat-card-title>

  <mat-card-content>
    <form class = "tp-form">
      <mat-form-field class = "tp-full-width">
        <input matInput placeholder = "Email" [formControl] = "emailFormControl">
        <mat-error *ngIf = "emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Informe um email válido
        </mat-error>
        <mat-error *ngIf = "emailFormControl.hasError('required')">
            Email é <strong>necessário</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class = "tp-full-width">
        <input type="password" matInput placeholder = "Senha" [formControl] = "senhaFormControl">
        <mat-error *ngIf = "senhaFormControl.hasError('required')">
          Senha é <strong>necessária</strong>
        </mat-error>
      </mat-form-field>
      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>